<h1>Upcoming Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event_path(event) do  %>
        <strong><%= event.title %></strong><br>
      <% end %>
      <%= event.starts_at.strftime("%b %d, %Y %H:%M") %> -
      <%= event.ends_at.strftime("%H:%M") %><br>
      <%= event.description %><br>
      <%= event.address %><br>
    </li>
  <% end %>
</ul>
