<h1><%= @event.title %></h1>

<div class="event_details">
  <div class="event">
    <div>
      <p>
        <strong>Date:</strong> <%= @event.starts_at.strftime("%b %d, %Y %H:%M") %> -
        <%= @event.ends_at.strftime("%H:%M") %>
      </p>
      <p><strong>Descripton:</strong> <%= @event.description %></p>
    </div>

    <div class="add-btn">
      <%= link_to "add to calendar", event_path(@event, format: :ics) %>
    </div>
  </div>
  <br>

  <%= link_to "Edit", edit_event_path(@event) %> ||
  <%= link_to "< Back", root_path(@event) %>
</div>
